{% extends 'base.html' %}
{% block content %}

<style>
    .text {
         font-family: "Nunito ExtraLight", sans-serif;
    }
    /* Always set the map height explicitly to define the size of the div
           * element that contains the map. */
    #map {
            height: 50%;
    }
          /* Optional: Makes the sample page fill the window. */
    html, body {
            height: 100%;
            margin: 0;
            padding: 0;
    }
    #makesleft {
        font-family: "Nunito", sans-serif;
        margin-left: -200px;
        margin-top: 20px;
    }
    #dontmindthis {
        padding-top: 30px;
    }
    .content {
        max-width: 750px;
        margin: auto;
        margin-left: 200px;
    }
    #button1 {
        background-color: #008000;
    }
    #button2 {
        background-color: dodgerblue;
    }
    #button0 {
        background-color: #f4511e;;
    }
    #submit_button {
        background-color: #F4B400;
        border-left: 1000px;
        border-radius: 4px;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 22px;
        padding: 20px;
        width: 180px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 20px;
        float: right;
    }
    .button {
        border-radius: 4px;
        background-color: #f4511e;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 28px;
        padding: 20px;
        width: 200px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 20px;
    }

    .button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

    .button span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }

    .button:hover span {
        padding-right: 25px;
    }

    .button:hover span:after {
        opacity: 1;
        right: 0;
    }

</style>
<div id="makesleft">
    <H5>Hi {{ user.first_name }}!</H5>
</div>
<script type="text/javascript">
function showmaps() {
    document.getElementById("map").style.display = "block";
    document.getElementById("mail").style.display = "none";
}
function showmail() {
    document.getElementById("mail").style.display = "block";
    document.getElementById("map").style.display = "none";
}
function showsheets() {
    document.getElementById("map").style.display = "none";
    document.getElementById("mail").style.display = "none";
}
</script>


<div id="dontmindthis"></div>
<div class="content">
    <div class="text" >Choose a google service:</div>
    <body>
        <button id=button2 class="button" onclick="showmaps()"><span>Maps</span></button>
        <button id=button1 class="button" onclick="showsheets()"><span>Sheets</span></button>
        <button id=button0 class="button" onclick="showmail()"><span>Mail</span></button>
    </body>
</div>

<div id="map"></div>
<div id="mail" style="display: none">
    <form action="{% url 'googleapi:homepage' %}" method="POST">{% csrf_token %}
        {{form.as_p}}
        <button id="submit_button" type="submit" class="button">Submit</button>
    </form>

</div>
<script>
    var map;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: -34.397, lng: 150.644},
            zoom: 8
        });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQkdbhT7piVUniPVJQ-BFQZzCI7QLPVLk&callback=initMap" async defer></script>



{% endblock %}